* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}


body {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.4)
}

.modal {
  width: 375px;
  margin: 15% auto auto;
  position: relative;
  text-align: center;
  background: #fff;
  border: 1px solid #778;
  border-radius: 5px;
  padding: 30px 20px;
}

.modal-close {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}

h1 {
  color: #000;
  font-size: 1.4em;
  text-align: left;
}

h2 {
  font-size: 1.2em;
  line-height: 1;
  margin: 0 0 0.25em 0;
}

h2 + p {
  color: #828282;
  margin: 0 0 1.5em 0;
}

h3 {
  text-align: center;
}

img {
  width: 100%;
  border-radius: 50px;
  margin-bottom: 15px;
}


/* MEDIA QUERIES */
@media (min-width: 568px) {
  main {
    width: 65%;
  }
 
}


@media (min-width: 768px) {
  main {
    width: 70%;
    max-width: 968px;
  }
  img {
    width: auto;
    float: left;
    margin-right: 20px;
  }  

}

@media (min-width: 1024px) {
  .mainGrid {
    width: 90%;
    max-width: 1024px;
    margin: auto;
  }

  main {
    width: 100%;
  }
}