* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}


body {
  position: relative;
  font-family: 'Lato', sans-serif;
  color: #000;
  line-height: 1.4;
  font-size: 1em;
  background-color: rgb(253, 253, 253);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(73, 73, 73, 0.4)
}

.modal {
  width: 300px;
  margin: 15% auto auto;
  position: relative;
  text-align: center; 
  background: #fff;
  border: none;
  border-radius: 15px;
  padding: 15px;
}

.modal-close {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}


h1 {
  color: #FFF;
  font-size: 1.5em;
  text-align: center;
  padding: 25px;
  margin: 0 auto;
  /* text-transform: uppercase; */
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  line-height: 1.2;
}

.logo {
  display: block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

header {
  background-color: #011533;
  z-index: 1100;
  /* position: fixed; */
  width: 100vw;
  margin-top: 0;
}

.name,
.nameModal {
  font-size: 1.2em;
  line-height: 1;
  text-align: center;
  margin: 10px auto 5px;
}

.email,
.emailModal,
.address,
.addressModal,
p {
  font-size: 0.9em;
  text-align: center;
  margin: 5px auto;
  color: #908f8f;
  
}

.avatar {
  width: 65%;
  border-radius: 50%;
  margin: 0 auto 5px;
  text-align: center;
  border: none;
}

.modalAvatar {
  width: 60%;
  margin: 10px;
  border-radius: 50%;
  margin: 0 auto 5px;
  text-align: center;
  border: none;
} 

main {
  text-align: center;
  margin-top: 50px;
}

.card {
  width: 80%;
  background: white;
  border-radius: 15px;
  margin: 20px auto;
  border: 2px solid rgb(214, 214, 214);
  border-radius: 15px;
  padding: 15px;
}

.card:hover  {
  background-color: #ECECEC;
  /* transform: scale(1.05); */
}

/* MEDIA QUERIES */
@media (min-width: 568px) {
  main {
    width: 65%;
  }
 
}


@media (min-width: 768px) {
  main {
    width: 95%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  h1 {
    font-size: 1.8em;
  }

  .avatar {
    width: auto;
    float: left;
    margin: 10px 10px 10px 0;
    width: 40%;
  } 

  .modalAvatar {
    width: 50%;
    margin: 10px;
  } 

  .text-container {
    margin-top: 20px;
  }

  .name {
    font-size: 1.1em;
  }

  .name,
  .email,
  .address {
    margin: 5px 10px;
    text-align: left;
  }

  .email,
  .address {
    font-size: 0.8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px 0;
  }


  .card {
    padding: 20px;
    margin-bottom: 35px;
    overflow: auto;
    margin: 10px auto;
    width: 95%;
  }

}

@media (min-width: 1024px) {
  main {
    margin: 50px auto 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }


  .card {
    margin: 20px auto;
    padding: 10px;
  }

  .text-container {
    margin-top: 30px;
  }

  .name {
    font-size: 1em;
  }

  .avatar {
    width: 30%;
    margin: 10px;
  } 

  .modalAvatar {
    width: 40%;
    margin: 10px;
  } 

  .modal {
    width: 475px;
  }  

}