body {
    font-family: 'Lato', sans-serif;
    background: $backgroundColor;
    position: relative;
    outline: none;
    overflow-x: hidden;

}

* h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

* ul {
    margin: 0;
    padding: 0;
}
* li {
    list-style: none;
        &:hover {
            cursor: pointer;
        }
}

* h2 {
    color: $headlinesColor;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
}